#next-button{
    background: rgb(14, 212, 146);
    
}

.boton-quiero{
    background: rgb(43, 34, 165);
    color: azure;
}

.modal-title{
    color: rgb(192, 15, 124);
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}
